{
  "swagger": "2.0",
  "info": {
    "title": "Learn365 API",
    "contact": {
      "name": "ZENSAI Help Center",
      "url": "https://helpcenter.elearningforce.com"
    },
    "version": "v1"
  },
  "host": "api.365.systems",
  "schemes": [
    "https"
  ],
  "paths": {
    "/courseCatalog/UploadSiteAsset": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Uploads a file to Course Catalog assets",
        "operationId": "Assets_UploadCatalogAsset",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "courseCatalogId",
            "description": "Course Catalog id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/course/UploadSiteAsset": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Uploads a file to Course assets",
        "operationId": "Assets_UploadCourseAsset",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "courseId",
            "description": "Course id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "courseCatalogId",
            "description": "Course Catalog id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/quiz/UploadHotSpotImage": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Uploads a file to Hot Spot images",
        "operationId": "Assets_UploadHotSpotImage",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "quizId",
            "description": "Quiz id or Question Pool id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/learningModules/UploadEmbeddedDocument": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Uploads an embedded document under a learning module (path)",
        "operationId": "Assets_UploadEmbeddedDocument",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "courseId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "courseCatalogId",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/course/EmbeddedDocumentAsStream": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Download a file as stream",
        "operationId": "Assets_EmbeddedDocumentAsStream",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "courseId",
            "description": "Course Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "relativePath",
            "description": "The path name to the file",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/courseCatalog/SiteAssetByNameAsStream": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Downloads file from Catalog Assets as stream.",
        "operationId": "Assets_SiteAssetByNameAsStream",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "catalogId",
            "description": "Course Catalog Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "File name.\r\n            For assets from Blob Storage: file name or storage relative url(e.g. assetsstorage/image.png).\r\n            For SharePoint assets: file name, absolute url or SiteAssets relative url(e.g. d2d325ea8995467b9bfbb80a41df74f5/image.png).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/courseCatalog/SiteAssetByFileIdAsStream": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "For SharePoint assets only. Downloads file from Catalog SiteAssets as stream.",
        "operationId": "Assets_SiteAssetByFileIdAsStream",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "catalogId",
            "description": "Course Catalog Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fileId",
            "description": "File Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/quiz/HotSpotImagesList": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Gets metadata information about files from Hot Spot images",
        "operationId": "Assets_HotSpotImagesList",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "quizId",
            "description": "Quiz Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/quiz/HotSpotImageByName": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Gets metadata information about a file from Hot Spot images",
        "operationId": "Assets_HotSpotImageByName",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "quizId",
            "description": "Quiz Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "File name.\r\n            For Blob Storage: file name or storage relative url(e.g. assetsstorage/hotspotimages/image.png).\r\n            For SharePoint: file name or absolute url.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "courseCatalogId",
            "description": "Course Catalog Id. Optional for Azure Blob Storage, but required to get image from SharePoint",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/quiz/HotSpotImageByNameAsStream": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Downloads a file from Hot Spot images as a stream.",
        "operationId": "Assets_HotSpotImageByNameAsStream",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "quizId",
            "description": "Quiz Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fileName",
            "description": "File name.\r\n            For Blob Storage: file name or storage relative url(e.g. assetsstorage/hotspotimages/image.png).\r\n            For SharePoint: file name or absolute url.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "courseCatalogId",
            "description": "Course Catalog Id. Optional for Azure Blob Storage, but required to download image from SharePoint",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/certificates/{certificateId}/upload": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Upload certificate image for the existing certificate",
        "operationId": "Certificates_UploadCertificateByCertificateid",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "certificateId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "uploadedFile",
            "description": "Upload File",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/courseImages/{courseCatalogId}/upload": {
      "post": {
        "tags": [
          "CourseImages"
        ],
        "summary": "Upload course image",
        "operationId": "CourseImages_UploadByCoursecatalogid",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "courseCatalogId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "uploadedFile",
            "description": "Upload File",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/courseImages/{courseCatalogId}/uploadBanner": {
      "post": {
        "tags": [
          "CourseImages"
        ],
        "summary": "Upload course banner image",
        "operationId": "CourseImages_UploadBannerByCoursecatalogid",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "courseCatalogId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "uploadedFile",
            "description": "Upload File",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications({id})": {
      "get": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Returns Email Notification by Id",
        "operationId": "EmailNotifications_GetById",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Email Notification Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Updates Email Notification",
        "operationId": "EmailNotifications_PutById",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Email Notification Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.EmailNotificationData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications": {
      "get": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Returns all notifications from course catalog",
        "operationId": "EmailNotifications_GetAll",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "courseCatalogId",
            "description": "Course Catalog Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications({id})/Enable": {
      "post": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Enables an email template on the catalog level",
        "operationId": "EmailNotifications_EnableById",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Email Notification Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications({id})/Disable": {
      "post": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Disables an email template on the catalog level",
        "operationId": "EmailNotifications_DisableById",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Email Notification Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications/M365Connection": {
      "post": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Enables or disables M365 connection settings",
        "operationId": "EmailNotifications_ToggleEmailConnectionSettings",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "courseCatalogId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "connectionSettings",
            "description": "IsEnabled",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.EmailNotificationToggle"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications({id})/Reset": {
      "post": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Resets email notification template to default",
        "operationId": "EmailNotifications_ResetById",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Email Notification Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications({id})/Courses": {
      "get": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Returns all courses notifications by email notification template",
        "operationId": "EmailNotifications_GetAllCourseNotificationsByEmailNotification",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Email Notification Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications({id})/Courses({courseId})": {
      "get": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Returns course notification for email notification template",
        "operationId": "EmailNotifications_GetCourseNotificationForEmailNotificationByIdAndCourseid",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Email Notification Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "courseId",
            "description": "Course Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Enable/Disable an email template on the Course level",
        "operationId": "EmailNotifications_ToggleCourseNotificationByIdAndCourseid",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Email Notification Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "courseId",
            "description": "Course Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.EmailNotificationToggle"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/EmailNotifications/Courses({courseId})": {
      "get": {
        "tags": [
          "EmailNotifications"
        ],
        "summary": "Returns course notifications for all email notification templates",
        "operationId": "EmailNotifications_GetCourseNotificationForAllEmailNotificationsByCourseid",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "courseId",
            "description": "Course Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/Enrollments({id})/SetAttendance": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Set attendance for enrollment",
        "operationId": "Enrollments_SetAttendanceById",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "sessionId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [
              0,
              1,
              25,
              50,
              75,
              100
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/externalTrainings/importCourse": {
      "post": {
        "tags": [
          "ExternalTrainings"
        ],
        "summary": "Import course",
        "operationId": "ExternalTrainings_ImportCourse",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "parameters",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.Public.Models.ImportExternalCourseParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/externalTrainings/importProgress": {
      "post": {
        "tags": [
          "ExternalTrainings"
        ],
        "summary": "Import progress",
        "operationId": "ExternalTrainings_ImportProgress",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "parameters",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.Public.Models.ImportExternalProgressParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/externalTrainings/importCertificate": {
      "post": {
        "tags": [
          "ExternalTrainings"
        ],
        "summary": "Import certificate",
        "operationId": "ExternalTrainings_ImportCertificate",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "parameters",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.Public.Models.ImportExternalCertificateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/groupRestrictions": {
      "get": {
        "tags": [
          "GroupRestrictions"
        ],
        "operationId": "GroupRestrictions_Get",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "groupId",
            "type": "string"
          },
          {
            "in": "query",
            "name": "courseCatalogId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GroupRestrictions"
        ],
        "operationId": "GroupRestrictions_Delete",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/groupRestrictions/state": {
      "put": {
        "tags": [
          "GroupRestrictions"
        ],
        "operationId": "GroupRestrictions_UpdateGroupRestrictionState",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "isEnabled",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/groupRestrictions/addADGroup": {
      "post": {
        "tags": [
          "GroupRestrictions"
        ],
        "operationId": "GroupRestrictions_AddADGroup",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "objectId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "courseCatalogId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/groupRestrictions/addGroup": {
      "post": {
        "tags": [
          "GroupRestrictions"
        ],
        "operationId": "GroupRestrictions_AddGroup",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "courseCatalogId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/reports/courseSessions/learnerIndividualCost": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "Reports_LearnerIndividualCost",
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/reports/trainingDuration/learnersTrainingDuration": {
      "get": {
        "tags": [
          "Reports"
        ],
        "description": "Result include all users (active or inactive if they completed any course in the selected time)\r\n            and all courses regardless the status (active/inactive)",
        "operationId": "Reports_LearnersTrainingTime",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "courseCatalogId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/reports/trainingDuration/learnerActualTrainingDuration": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Gets the actual training duration for a learner.",
        "operationId": "Reports_LearnerActualTrainingDuration",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "enrollmentId",
            "description": "The enrollment ID of the learner.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Elearningforce.LMS.Infrastructure.Tracking.CourseTimeTrackingReport"
              }
            }
          }
        }
      }
    },
    "/scorms/upload": {
      "post": {
        "tags": [
          "Scorms"
        ],
        "summary": "Upload zip package to storage",
        "operationId": "Scorms_UploadPackage",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "uploadedFile",
            "description": "Upload File",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/webhooks/subscribe": {
      "post": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Subscribes (registers) a new WebHook for a given user having WebHookUri as a key value",
        "operationId": "WebHooks_Subscribe",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "webHook",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/webhooks/subscribe/{eventName}": {
      "post": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Subscribes (registers) a new WebHook for a given user for a specific event having WebHookUri as a key value",
        "operationId": "WebHooks_SubscribeByEventname",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "eventName",
            "description": "The event name to subscirbe to.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "webHook",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/webhooks/unsubscribe": {
      "post": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Unsubscribes (deletes registration) of an existing WebHook for a given user having WebHookUri as a key value",
        "operationId": "WebHooks_Unsubscribe_2",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "webHook",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to delete.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Unsubscribes (deletes registration) of an existing WebHook for a given user having WebHookUri as a key value",
        "operationId": "WebHooks_Unsubscribe_1",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "webHook",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to delete.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/webhooks/{webHookId}": {
      "delete": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Unsubscribes (deletes registration) of an existing WebHook for a given user having WebHook Id as a key value",
        "operationId": "WebHooks_UnsubscribeByWebhookid",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webHookId",
            "description": "The WebHook's id which is going to be removed.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/webhooks/filters": {
      "get": {
        "tags": [
          "WebHookRegistrations"
        ],
        "operationId": "WebHooks_GetFilters",
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHookFilter"
              }
            }
          }
        }
      }
    },
    "/webhooks/registrations": {
      "get": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Gets all registered WebHooks for a given user.",
        "operationId": "WebHooks_Get",
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Registers a new WebHook for a given user.",
        "operationId": "WebHooks_Post",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "webHook",
            "description": "The {Microsoft.AspNet.WebHooks.WebHook} to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Deletes all existing WebHook registrations.",
        "operationId": "WebHooks_DeleteAll",
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/webhooks/registrations/{id}": {
      "get": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Looks up a registered WebHooks with the given {id} for a given user.",
        "operationId": "WebHooks_LookupById",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        }
      },
      "put": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Updates an existing WebHook registration.",
        "operationId": "WebHooks_PutById",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The WebHook ID.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "webHook",
            "description": "The new {Microsoft.AspNet.WebHooks.WebHook} to use.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WebHookRegistrations"
        ],
        "summary": "Deletes an existing WebHook registration.",
        "operationId": "WebHooks_DeleteById",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The WebHook ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/Apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "(Obsolete) Returns the list of Apps",
        "operationId": "AppsV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.App]]"
            }
          }
        }
      }
    },
    "/odata/v2/Apps({Id})": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "(Obsolete) Returns the App by Id",
        "operationId": "AppsV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.App"
            }
          }
        }
      }
    },
    "/odata/v2/Assessments": {
      "get": {
        "tags": [
          "Assessments"
        ],
        "summary": "Returns the list of Assessments",
        "description": "Result includes assessments from courses where current user has active enrollment",
        "operationId": "AssessmentsV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Assessment]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assessments"
        ],
        "summary": "Creates a new Assessment",
        "operationId": "AssessmentsV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Assessment",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.Internal.Models.AssessmentUpdateData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Assessment"
            }
          }
        }
      }
    },
    "/odata/v2/Assessments({Id})": {
      "get": {
        "tags": [
          "Assessments"
        ],
        "summary": "Returns the Assessment by Id",
        "operationId": "AssessmentsV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Assessment"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Assessments"
        ],
        "summary": "Updates an Assessment",
        "operationId": "AssessmentsV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Assessment",
            "description": "The entity to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.Internal.Models.AssessmentUpdateData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Assessment"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assessments"
        ],
        "summary": "Deletes an Assessment",
        "operationId": "AssessmentsV2_DeleteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "If-Match header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/Assignments({Id})/Complete": {
      "post": {
        "tags": [
          "Assignments"
        ],
        "summary": "Completes specified assignment",
        "operationId": "AssignmentsV2_CompleteById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "",
            "required": true,
            "schema": {
              "required": [
                "UserLoginName",
                "Grade"
              ],
              "type": "object",
              "properties": {
                "UserLoginName": {
                  "type": "string"
                },
                "Grade": {
                  "format": "decimal",
                  "type": "number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/Assignments": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "summary": "Returns the list of Assignments",
        "description": "Result includes assignments from courses where current user has active enrollment",
        "operationId": "AssignmentsV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Assignment]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assignments"
        ],
        "summary": "Creates new assignment",
        "operationId": "AssignmentsV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Assignment",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.OData.V2.Models.AssignmentCreationData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/Assignments({Id})": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "summary": "Returns the Assignment by Id",
        "operationId": "AssignmentsV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Assignment"
            }
          }
        }
      }
    },
    "/odata/v2/Certificates({Id})/Content()": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Returns the content (picture) of Certificate",
        "operationId": "CertificatesV2_ContentById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/Certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Returns the list of Certificates owned by current user",
        "operationId": "CertificatesV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Certificate]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Creates a Certificate.",
        "operationId": "CertificatesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "certificate",
            "description": "Certificate",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Certificate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/Certificates({Id})": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Returns Certificate by Id",
        "operationId": "CertificatesV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Certificate"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Certificates"
        ],
        "summary": "Updates a Certificate partially.",
        "operationId": "CertificatesV2_PatchById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Certificate",
            "description": "The entity to patch",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Common.Certification.CertificatePatchData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/Certificates/BySubordinates(managerId={managerId})": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "summary": "Returns the list of Certificates for subordinates of user",
        "operationId": "CertificatesV2_BySubordinates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "managerId",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Certificate]]"
            }
          }
        }
      }
    },
    "/odata/v2/Certificates({Id})/Reissue": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "summary": "Reissue Certificate",
        "operationId": "CertificatesV2_ReissueById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Certificate Template ID",
            "schema": {
              "type": "object",
              "properties": {
                "templateId": {
                  "format": "guid",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/odata/v2/CourseCatalogs({Id})/IsUrlAvailable(courseUrl='{courseUrl}')": {
      "get": {
        "tags": [
          "CourseCatalogs"
        ],
        "summary": "Check if course url is available",
        "operationId": "CourseCatalogsV2_IsUrlAvailableByIdAndCourseurl",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "courseUrl",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/CertificateTemplates": {
      "get": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Returns the list of Certificate Templates",
        "operationId": "CertificateTemplatesV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CertificateTemplate]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Creates a Certificate Template.",
        "operationId": "CertificateTemplatesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "certificateTemplate",
            "description": "Certificate Template",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CertificateTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/CertificateTemplates({Id})": {
      "get": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Returns the Certificate Template by Id",
        "operationId": "CertificateTemplatesV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CertificateTemplate"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Update a Certificate Template.",
        "operationId": "CertificateTemplatesV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "certificateTemplate",
            "description": "Certificate Template",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CertificateTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CertificateTemplates"
        ],
        "summary": "Delete a Certificate Template.",
        "operationId": "CertificateTemplatesV2_DeleteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "If-Match header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        }
      }
    },
    "/odata/v2/Competencies": {
      "get": {
        "tags": [
          "Competencies"
        ],
        "summary": "[Phasing Out] Returns all competencies (skills) - Endpoints will be eventually removed.",
        "operationId": "CompetenciesV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.Competency]]"
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Competencies"
        ],
        "summary": "[Phasing Out] Creates a competency (skill) - Endpoints will be eventually removed.",
        "operationId": "CompetenciesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "body",
            "name": "competency",
            "description": "competency",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Competency"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      }
    },
    "/odata/v2/Competencies({Id})": {
      "get": {
        "tags": [
          "Competencies"
        ],
        "summary": "[Phasing Out] Returns competency (skill) by id - Endpoints will be eventually removed.",
        "operationId": "CompetenciesV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Competency"
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "Competencies"
        ],
        "summary": "[Phasing Out] Updates a competency (skill) - Endpoints will be eventually removed.",
        "operationId": "CompetenciesV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "body",
            "name": "competency",
            "description": "competency",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.Competency"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "Competencies"
        ],
        "summary": "[Phasing Out] Deletes competency (skill) by id - Endpoints will be eventually removed.",
        "operationId": "CompetenciesV2_DeleteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "If-Match header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      },
      "patch": {
        "tags": [
          "Competencies"
        ],
        "summary": "[Phasing Out] Updates a competency (skill) partially - Endpoints will be eventually removed.",
        "operationId": "CompetenciesV2_PatchById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "body",
            "name": "Competency",
            "description": "The entity to patch",
            "required": true,
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      }
    },
    "/odata/v2/CompetencyCategories": {
      "get": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "[Phasing Out] Returns all competency (skill) categories - Endpoints will be eventually removed.",
        "operationId": "CompetencyCategoriesV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CompetencyCategory]]"
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "[Phasing Out] Creates a competency (skill) category - Endpoints will be eventually removed.",
        "operationId": "CompetencyCategoriesV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CompetencyCategory",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyCategory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      }
    },
    "/odata/v2/CompetencyCategories({Id})": {
      "get": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "[Phasing Out] Returns competency (skill) category by Id - Endpoints will be eventually removed.",
        "operationId": "CompetencyCategoriesV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyCategory"
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "[Phasing Out] Updates a category - Endpoints will be eventually removed.",
        "operationId": "CompetencyCategoriesV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "CompetencyCategory",
            "description": "The entity to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyCategory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "CompetencyCategories"
        ],
        "summary": "[Phasing Out] Deletes category by id - Endpoints will be eventually removed.",
        "operationId": "CompetencyCategoriesV2_DeleteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "If-Match header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      }
    },
    "/odata/v2/CompetencyScaleSets": {
      "get": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "[Phasing Out] Returns all competency scale sets (skill level sets) - Endpoints will be eventually removed.",
        "operationId": "CompetencyScaleSetsV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CompetencyScaleSet]]"
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "[Phasing Out] Creates a scale set (skill level set) - Endpoints will be eventually removed.",
        "operationId": "CompetencyScaleSetsV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "body",
            "name": "CompetencyScaleSet",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyScaleSet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      }
    },
    "/odata/v2/CompetencyScaleSets({Id})": {
      "get": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "[Phasing Out] Returns competency scale set (skill level set) by id - Endpoints will be eventually removed.",
        "operationId": "CompetencyScaleSetsV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyScaleSet"
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "[Phasing Out] Updates a scale set (skill level set) - Endpoints will be eventually removed.",
        "operationId": "CompetencyScaleSetsV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "body",
            "name": "CompetencyScaleSet",
            "description": "The entity to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyScaleSet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "CompetencyScaleSets"
        ],
        "summary": "[Phasing Out] Deletes scale set (skill level set) by id - Endpoints will be eventually removed.",
        "operationId": "CompetencyScaleSetsV2_DeleteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "If-Match header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      }
    },
    "/odata/v2/CompetencyTags": {
      "get": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "[Phasing Out] Returns all tags - Endpoints will be eventually removed.",
        "operationId": "CompetencyTagsV2_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filters the results, based on a Boolean condition.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Sorts the results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Returns only the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Skips the first n results.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Includes a count of the matching results in the response.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Swashbuckle.OData.ODataResponse[System.Collections.Generic.List[Elearningforce.LMS.Api.V2.Models.CompetencyTag]]"
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "[Phasing Out] Creates a tag - Endpoints will be eventually removed.",
        "operationId": "CompetencyTagsV2_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CompetencyTag",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      }
    },
    "/odata/v2/CompetencyTags({Id})": {
      "get": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "[Phasing Out] Returns tag by id - Endpoints will be eventually removed.",
        "operationId": "CompetencyTagsV2_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Expands related entities inline.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selects which properties to include in the response.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyTag"
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "[Phasing Out] Updates a tag - Endpoints will be eventually removed.",
        "operationId": "CompetencyTagsV2_PutById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "CompetencyTag",
            "description": "The entity to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Elearningforce.LMS.Api.V2.Models.CompetencyTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "CompetencyTags"
        ],
        "summary": "[Phasing Out] Deletes tag by id - Endpoints will be eventually removed.",
        "operationId": "CompetencyTagsV2_DeleteById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "Id",
            "description": "key: Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "If-Match",
            "description": "If-Match header",
[...]
